:root {
    --darkBlue: #032541;
    --lightBlue: #556F81;
    --gray: #979797;
    --white: #ebebeb;
    --highlight: #ff6700; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    
}

/* CABEÇALHO */
header {
    background-color: var(--darkBlue);
    height: 70px;
    display: flex; 
    margin-bottom: 50px; 
}

header h1 {
    padding: 10px;
    margin-left: 15%;
    text-decoration: underline;
    font-weight: bolder;
    color: var(--highlight);
}

header h1 a:visited {
    color: var(--highlight);
}

.navWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    margin-left: 1%;
    color: var(--white);
}

/* barraPesquisa */

.barraPesquisa{
    background-color: var(--white);
    padding: 3px;
    display: flex;
    align-items: center;
    width: 7%;
    transition: 200ms ease;
    border-radius: 5px;
}

.pesquisa{
    width: 100%;
    border: none;
    background-color: var(--white);
}

.barraPesquisa:focus-within,
.barraPesquisa:has(.pesquisa:not(:placeholder-shown))
{
    width: 40%;
    box-shadow: 2px 2px 1px var(--lightBlue);
}

.pesquisa:focus{
   outline: none;
}

.pesquisa:focus::placeholder {
    color: var(--white);
}

/* SECAO FILMES */

#trendingMoviesWrapper { 
    width: 70%;
    margin: auto;    
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.8%;
}

/* CARD FILME */

.cardContainer {
    width: 100%;
    min-height: 420px;
    background-color: var(--white);  
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;  
    display: flex;
    flex-direction: column; 
    transition: 200ms ease;
    overflow: hidden;
}

.moviePoster {
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.movieDesc { 
    padding: 3px;
}

.moviePoster img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.movieName {
    display: block;
    font-weight: bolder;
}

.releaseDate {
    color: var(--gray);
}

/* CARD FILME HOVER */

.cardContainer:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 2px 2px 30px black;
    cursor: pointer;
}

/* LOADING IMG PLACEHOLDER */

.imgPlaceholder {
    background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
    background-size: 200% 100%;
    animation: piscando 1.5s infinite;
}

@keyframes piscando {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}